apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
data:
  # root123 encodé en base64
  mysql-root-password: cm9vdDEyMw==
  # student123 encodé en base64
  mysql-password: c3R1ZGVudDEyMw==