apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
data:
  MYSQL_ROOT_PASSWORD: bXlzcWw=      # mysql
  MYSQL_DATABASE: c3ByaW5nZGI=      # springdb
  MYSQL_USER: dXNlcg==              # user
  MYSQL_PASSWORD: cGFzc3dvcmQ=      # password
